<<<<<<< HEAD
<div>
  <img src="{{this.image}}" /><h2>{{this.name}}</h2>
=======
<div class='restaurant-card'>
  <img src='{{this.image}}' /><h2>{{this.name}}</h2>
>>>>>>> be095623ef2d4abe1933ffb1ce39d2f547929abd
  {{#each this.address}}
    <h2 id='address'>{{this}}</h2>
  {{/each}}
<<<<<<< HEAD
  <p id="phone">{{this.phone}}</p>
  <p id="priceRating">{{this.priceRating}}</p>
  <a href="/admin/restaurants/{{this._id}}/edit">Edit</a><br />
  <a href="/admin/restaurants/{{this._id}}/delete">Delete</a>
=======
  <p id='phone'>{{this.phone}}</p>
  <p id='priceRating'>{{this.priceRating}}</p>

  <a href='/restaurants/{{this._id}}'>Details</a><br />
  <a href='/restaurants/{{this._id}}/delete'>Delete</a>
>>>>>>> be095623ef2d4abe1933ffb1ce39d2f547929abd
</div>