{{!-- <div class="restaurant-card-admin">
  <img
    class="restaurant-image-admin"
    src="{{this.image}}"
    alt="{{this.name}}"
  />
  <h3>{{this.name}}</h3>
  <div class="restaurant-description-admin">
    <p>{{this.description}}</p></div>
  <div class="foodTypes-list">
    <h4>Food type </h4>
    <ol>
      {{#each this.foodTypes}}
        <li>{{this.name}}</li>
      {{/each}}</ol>
  </div>

  <div class="priceRating">
    <h4>Price rating :</h4><p>{{this.priceRating}}</p>
  </div>

  <div>
    <a
      style="color: greenyellow;"
      href="/admin/restaurants/{{this._id}}/edit"
    >Edit</a>
    <a
      style="color: red;"
      href="/admin/restaurants/{{this._id}}/delete"
    >Delete</a>
  </div>
</div> --}}
<td><img
    class="restaurant-image-admin"
    src="{{this.image}}"
    alt="{{this.name}}"
  />
</td>
<td><h3>{{this.name}}</h3></td>
<td>
  <div class="restaurant-description-admin"><p
    >{{this.description}}</p></div></td>
<td>
  <ol>
    {{#each this.foodTypes}}
      <li>{{this.name}}</li>
    {{/each}}</ol>
</td>
<td>{{this.priceRating}}</td>
<td>
  <a
    style="color: greenyellow;"
    href="/admin/restaurants/{{this._id}}/edit"
  >Edit</a>
  <a
    style="color: red;"
    href="/admin/restaurants/{{this._id}}/delete"
  >Delete</a></td>