<div class="restaurant-card-admin">
  <img
    class="restaurant-image-admin"
    src="{{this.image}}"
    alt="{{this.name}}"
  />
  <h3>{{this.name}}</h3>
  <div class="restaurant-description-admin">
    <p>{{this.description}}</p></div>
  <div class="foodTypes-list">
    <h4>Food type : </h4>
    {{#each this.foodTypes}}
      <p>{{this.name}}</p>
      ,
    {{/each}}
  </div>

  <div class="priceRating">
    <h4>Price rating :</h4><p>{{this.priceRating}}</p>
  </div>

  <div>
    <a
      style="color: greenyellow;"
      href="/admin/restaurants/{{this._id}}/edit"
    >Edit</a>
    <a
      style="color: red;"
      href="/admin/restaurants/{{this._id}}/delete"
    >Delete</a>
  </div>
</div>