<div>
  <h2>{{restaurant.name}}</h2>
  <div>
    <img src="{{restaurant.image}}" />
    {{#each restaurant.address}}
      <li>{{this}}</li>
    {{/each}}
    {{#each restaurant.foodTypes}}
      <p>{{this.name}}</p>
    {{/each}}
    <p>{{restaurant.priceRating}}</p>
    <a></a>
  </div>
</div>